@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #dbdbdb;
  color: #212529;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  position: relative;
}

section{padding:1rem;}
a#logo{color:#fff;text-decoration:none;font-size:1.3rem;}
nav>a{color:#999; text-decoration:none;font-size:1rem;margin-left:1rem;}
main{background:#fff;}
footer{text-align:center;}

@media (max-width: 40.063rem) {/* 小屏幕CSS */
  a#logo{display:block;width:7rem;margin:0 auto;}
  nav{border-top:1px dashed #555;}
}
@media (min-width: 40.063rem) {/* 平板及大屏幕CSS */
  section{margin:0 auto;max-width: 62.5rem;}
  nav{display:inline-block;margin-top:0.4rem;float:right;}
  nav>a{margin-left:1rem;}
}