@import "rouge-base16-dark";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #dbdbdb;
  color: #212529;
  font-size: 100%;
  position: relative;
}

.highlighter-rouge{background:#333;margin:.5rem;padding:.2rem 1rem;overflow-x:auto;}
code.highlighter-rouge{background:#bbb;padding:.1rem .4rem;}
blockquote{padding:.2rem 1rem;border-left:.6rem solid #03a7dd;background:#eee;}

section{padding:1rem;margin:0 auto;max-width: 680px;}
main img{display:block;max-width:100%;height:auto;}
a#logo{color:#fff;text-decoration:none;font-size:1.3rem;}
nav>a{color:#999; text-decoration:none;font-size:1rem;margin-left:1rem;display:inline-block;}
nav:first-child{margin-left:0;}
main{background:#fff;}
main>section{min-height:48rem;line-height:180%;}
footer{text-align:center;}

.post-row{margin:1rem;display:flex;}
.post-row .date{color:#666; margin-right:.5rem;flex-shrink:0;}
.post-row .title{overflow:hidden;text-overflow:ellipsis;flex-grow:1;}
.post-row .title a{color:#007bff;text-decoration:none;}
.post-row .title a:hover{color:#0056b3;text-decoration:underline;}
.post-row .cat{flex-shrink:0;}
.post-row .cat a{color:#666;margin-left:.6rem;}
.post-row .cat a:hover{text-decoration:underline;}
.links{margin:1rem;}
a.link{display:inline-block;margin-right:1rem;}

@media (max-width: 40.063rem) {/* 小屏幕CSS */
  a#logo{display:block;width:7rem;margin:0 auto .4rem;}
  nav{border-top:1px dashed #555;padding-top:.4rem}
}
@media (min-width: 40.063rem) {/* 平板及大屏幕CSS */
  nav{display:inline-block;margin-top:0.4rem;float:right;}
  nav>a{margin-left:1rem;}
}